* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f0e2c5;
  color: #240700;
  padding: 50px;
}

/* header section */
header {
  text-align: center;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/Arabica.webp);

  padding: 30px;
  height: 350px;
}

.header-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
header h1 {
  color: #240700;
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  margin-bottom: 30px;
}

header p {
  color: #240700;
  font-family: "Permanent Marker", cursive;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

header a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-color: #240700;
  color: #f0e2c5;
  text-decoration: none;
  margin: 10px auto;
  border-radius: 5px;
}
/* nav section */
nav {
  position: sticky;
  top: 0;
  border: 2px solid #000;
  text-align: center;
  text-decoration: 5px;
  padding: 15px;
  background-color: #49281a;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #f0e2c5;

  margin: 0 15px;
}
/*our menu */
#our-menu,
#about-us,
#contact,
footer {
  width: 80%;
  margin: 20px auto;
}
#our-menu h2,
#about-us h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  padding: 10px 0;
}
.menu-list h3 {
  margin: 20px 0;
  padding: 2px 10px;
  border-left: 4px groove #49281a;
}
.card {
  border: 2px solid #000;
  width: 220px;

  padding: 9px;
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 0 8px;
  display: inline-block;
  border-radius: 10px;
  transition: transform 0.3s ease, z-index 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
  z-index: 8;
}
.card-img-top {
  max-width: 100%;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}
.card-title {
  margin: 10px 0;
}
.card-text {
  line-height: 1.3rem;
}
.price {
  font-weight: bold;
  font-style: italic;
}
.btn-order {
  border: none;
  width: 100%;
  background-color: #49281a;
  padding: 10px;
  color: #f0e2c5;
  border-radius: 5px;
  margin: 10px 0;
}
#about-us p {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  text-align: justify;
  padding: 10px 0;
}

form {
  font-family: "Lato", sans-serif;
  /*border: 2px solid #000;*/
  margin-top: 10px;
}
form div {
  margin-bottom: 10px;
}
.form-label {
  text-align: right;
  display: inline-block;
  padding: 10px;
  width: 150px;
}
.form-control {
  border: none;
  width: 300px;
  background-color: #f0e2c5;
  border-bottom: 2px solid #49281a;
  outline: none;
}
.btnsubmit {
  border: none;
  width: 200px;
  height: 40px;
  background-color: #49281a;
  color: #f0e2c5;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 160px;
  border-radius: 8px;
  cursor: pointer;
}
footer {
  text-align: center;
}
footer p {
  text-align: center;
  font-size: 1rem;
}

footer a {
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  background-color: #f0e2c5;
  color: #49281a;
  bottom: 25px;
  right: 20px;
  padding-top: 10px;
  border: 4px solid #49281a;
  border-radius: 100%;
  position: fixed;
}
